/* 3.052rem/48.83px 2.441rem/39.06px 1.953rem/31.25px 1.563rem/25.00px 1.25rem/20.00px 1rem/16.00px*/
/* FONT WEIGHT THIN 300, NORMAL 400, SEMI-BOLD 500, BOLD 700 */

/* ************** */
/* GENERAL STYLES */
/* ************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.nav-header {
  background-color: #ffd43b;
  width: 100%;
  position: 40px;
  padding: 10px;
}

.container {
  width: 1200px;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.navigation img {
  height: 70px;
  width: auto;
  /* fixed-relative to the viewport*/
}

.navigation a:link,
.navigation a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #212529;
}

.navigation a:hover,
.navigation a:active {
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.5s;
  background-color: yellow;
}

/*nav {
  float: right;
}

nav ul {
margin: 0%;
list-style: none;
}

nav li{
  display: inline-block;
  margin:  20px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}



/* ********* */
/* HOME PAGE */
/* ********* */

/* ************* */
/* SOLUTION PAGE */
/* ************* */

/* ************** */
/* RESOURCES PAGE */
/* ************** */

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 150px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px;
  text-align: center;
}

.grid-item1 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item1 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item2 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item3 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item4 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item5 {
  background-color: #ffd43b;
  border-radius: 4%;
}

.grid-item6 {
  background-color: #ffd43b;
  border-radius: 4%;
}
/* ************* */
/* ABOUT US PAGE */
/* ************* */

/* ************ */
/* CONTACT PAGE */
/* ************ */

/* FORM STYLING */
/* ************ */

.contact-form {
  background-color: #087f5b;
  color: #f8f9fa;
  padding: 50px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form input {
  padding: 15px 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item_radio {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 20px 0;
}

input[type="text"] {
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #38d9a9;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 5px#212529;
}
input[type="email"] {
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #38d9a9;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 5px#212529;
}

.form-item textarea {
  border: none;
  background-color: #38d9a9;
  resize: none;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 1px 5px#212529;
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
}

.form-btn {
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #f8f9fa;
  padding: 15px 0;
  background-color: #087f5b;
  border-radius: 30px;

  box-shadow: 0px 1px 5px#212529;
}

.form-btn:hover {
  background-color: #099268;
}
.form-btn:active {
  background-color: #0ca678;
}

/* ****** */
footer {
  padding: 10px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #ffd43b;
  text-align: center;
  font-size: 14px;
}
/* ****** */
