/* ************** */
/* GENERAL STYLES */
/* ************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ********* */
/* HOME PAGE */
/* ********* */

/* ************* */
/* SOLUTION PAGE */
/* ************* */

/* ************** */
/* RESOURCES PAGE */
/* ************** */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* ************* */
/* ABOUT US PAGE */
/* ************* */

/* ************ */
/* CONTACT PAGE */
/* ************ */

form {
  background-color: green;
}

/* ****** */
/* FOOTER */
/* ****** */
